hhtml { height: 100%; 


}
body {
	margin: 0;
	padding: 0;
	font-family:   sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #000;
	height: 100%;
	background: #fff url(img/bg.jpg) repeat-x;
	
	}
	 a { text-decoration: none; color: #11A0CF; font-size: 1.2em; padding: 1px 2px; }
	 a:hover { background-color: #f4f4f4; }


h1 {
	color: #ffffff;
	font-family: 'Raleway',sans-serif;
	font-size: 44px;
	font-weight: 700;
	line-height: 56px;
	margin: 10px 0 24px;
	padding: 0 0 0 10px;	
}

h2 {
	color: #ffffff;
	font-family: 'Raleway',sans-serif;
	font-size: 28px;
	font-weight: 600;
	line-height: 36px;
	margin: 0 0 24px;
	margin-left: 10;
	padding: 0 0 0 10px;
}

p {
	color: #f8f8f8;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 32px;
	margin-bottom: 24px;
	margin-left: 10;
}
li {
	color: #f8f8f8;
	font-family: 'Raleway',sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 27px;
	margin-bottom: 15px;
	margin-left: 15;
}

#header { 
	
	margin-left: 40px;
	padding: 0;
	
	}
#header div { 
    width: 960px;
	background: url(img/tech.jpg) no-repeat 0px 70px; 
	text-align: left;
	padding: 45px 0 97px 20px;	
	justify-content: center;
	margin-right: 40px;
	margin-right: 40px;
	}
		


#content {
	width: 900px;
	margin: 0 auto;
	background-color:#DCDCDC;
	padding:0 0 20px 0;
	}
#content div { 
	
	padding: 20px 20px 10px 20px;	
	}		
footer ul li{
	padding-left: 0;
	list-style-type: none;

}



footer {
	
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    display: flex;
    min-height: 50vh;
    flex-direction: column;

    margin: auto;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    background-color: #adb5bd;
	color: #f8f9fa;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    text-align: center;
}



.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-main ul li{
	text-align: center;

}
	
